<div class="main-screen">
    <div class="accordion-product">

        <button class="accordion">Талеркі</button>

        <div class="panel">
            <div class="wr-content-acc">
                <div class="container-img">
                    <img class="size-plates amount-plates" src="./src/media/images/plates/plate-1.png">
                </div>
                <div class="container-img">
                    <img class="size-plates amount-plates" src="./src/media/images/plates/plate-2.png">
                </div>
                <div class="container-img">
                    <img class="size-plates amount-plates" src="./src/media/images/plates/plate-3.png">
                </div>
                <div class="container-img">
                    <img class="size-plates amount-plates" src="./src/media/images/plates/plate-4.png">
                </div>
                <div class="container-img">
                    <img class="size-plates amount-plates" src="./src/media/images/plates/plate-5.png">
                </div>
                <div class="container-img">
                    <img class="size-plates amount-plates" src="./src/media/images/plates/plate-6.png">
                </div>
                <div class="container-img">
                    <img class="size-plates amount-plates" src="./src/media/images/plates/plate-7.png">
                </div>
                <div class="container-img">
                    <img class="size-plates amount-plates" src="./src/media/images/plates/plate-8.png">
                </div>
            </div>
        </div>

        <button class="accordion">Кілімкі</button>

        <div class="panel">
            <div class="wr-content-acc">
                <div class="container-img">
                    <img data-position="rugs" class="amount-rugs" src="./src/media/images/rugs/rug-1.png">
                </div>
                <div class="container-img">
                    <img data-position="rugs" class="amount-rugs" src="./src/media/images/rugs/rug-2.png">
                </div>
                <div class="container-img">
                    <img data-position="rugs" class="amount-rugs" src="./src/media/images/rugs/rug-3.png">
                </div>
                <div class="container-img">
                    <img data-position="rugs" class="amount-rugs" src="./src/media/images/rugs/rug-4.png">
                </div>
                <div class="container-img">
                    <img data-position="rugs" class="amount-rugs" src="./src/media/images/rugs/rug-5.png">
                </div>
                <div class="container-img">
                    <img data-position="rugs" class="amount-rugs" src="./src/media/images/rugs/rug-6.png">
                </div>
                <div class="container-img">
                    <img data-position="rugs" class="amount-rugs" src="./src/media/images/rugs/rug-7.png">
                </div>
                <div class="container-img">
                    <img data-position="rugs" class="amount-rugs" src="./src/media/images/rugs/rug-8.png">
                </div>
            </div>
        </div>

        <button class="accordion">Вінныя Келіхі</button>

        <div class="panel">
            <div class="wr-content-acc">
                <div class="container-img">
                    <img class="size-glasses amount-wine-glasses" src="./src/media/images/wine-glasses/glass-1.png">
                </div>
                <div class="container-img">
                    <img class="size-glasses amount-wine-glasses" src="./src/media/images/wine-glasses/glass-2.png">
                </div>
                <div class="container-img">
                    <img class="size-glasses amount-wine-glasses" src="./src/media/images/wine-glasses/glass-3.png">
                </div>
                <div class="container-img">
                    <img class="size-glasses amount-wine-glasses" src="./src/media/images/wine-glasses/glass-4.png">
                </div>
                <div class="container-img">
                    <img class="size-glasses amount-wine-glasses" src="./src/media/images/wine-glasses/glass-5.png">
                </div>
                <div class="container-img">
                    <img class="size-glasses amount-wine-glasses" src="./src/media/images/wine-glasses/glass-6.png">
                </div>
                <div class="container-img">
                    <img class="size-glasses amount-wine-glasses" src="./src/media/images/wine-glasses/glass-7.png">
                </div>
                <div class="container-img">
                    <img class="size-glasses amount-wine-glasses" src="./src/media/images/wine-glasses/glass-8.png">
                </div>
            </div>
        </div>

        <button class="accordion">Шклянкі</button>

        <div class="panel">
            <div class="wr-content-acc">
                <div class="container-img">
                    <img class="size-glasses amount-glasses" src="./src/media/images/drinking-glasses/glass-1.png">
                </div>
                <div class="container-img">
                    <img class="size-glasses amount-glasses" src="./src/media/images/drinking-glasses/glass-2.png">
                </div>
                <div class="container-img">
                    <img class="size-glasses amount-glasses" src="./src/media/images/drinking-glasses/glass-3.png">
                </div>
                <div class="container-img">
                    <img class="size-glasses amount-glasses" src="./src/media/images/drinking-glasses/glass-4.png">
                </div>
                <div class="container-img">
                    <img class="size-glasses amount-glasses" src="./src/media/images/drinking-glasses/glass-5.png">
                </div>
                <div class="container-img">
                    <img class="size-glasses amount-glasses" src="./src/media/images/drinking-glasses/glass-6.png">
                </div>
                <div class="container-img">
                    <img class="size-glasses amount-glasses" src="./src/media/images/drinking-glasses/glass-7.png">
                </div>
            </div>
        </div>
    </div>

    <div class="wr-table">
        <p>Раскласці посуд</p>

        <div class="table-image"></div>

        <button class="button add-dishes">Палічыць</button>
    </div>
</div>