<div class="container-error-page">
    <div class="page-error-bg"></div>

    <p class="error-message">The link you followed is probably broken or the page has been removed</p>

    <a class="button" href="/#/">Go to home page</a>
</div>